
/**
 * Colors
 *
 */

// here the colors

/**
 * Bootstrap customised
 *
 * @see https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
 */
$font-size-root:62.5%; // 1rem = 10px
$font-size-base:1.4rem;
$line-height-base: 1.5;
$font-weight-base:400;
$font-family-sans-serif: 'Ubuntu', "Helvetica Neue", Helvetica, Arial, sans-serif;
$btn-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
$border-radius:.4rem;
$primary:blue;
$btn-box-shadow:none;
$btn-active-box-shadow:none;
$btn-focus-box-shadow:none;
$input-btn-focus-box-shadow:none;
$input-border-radius:0;
$grid-columns:12;
$grid-gutter-width:3rem;
$body-color:black;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
);

$spacers : (
    0: 0,
    1: 1rem,
    2: 2rem,
    3: 3rem,
    4: 4rem,
    5: 5rem,
    6: 6rem,
    7: 7rem,
    8: 8rem,
    9: 9rem,
    10: 10rem
);
